<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>
            PARTY ON
        </title>
    </head>
    <body>
        <div class="error_msg">
            <div>
                
            </div>
           
            <div>
                ERROR 404
                <br>
                The party is elsewhere
                <br>
                <a href="/" style="color: chartreuse; text-decoration: underline;">Go home</a>
            </div>
        </div>
    </body>
</html>