<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/edit.css">
        <title>
            Edit
        </title>

    </head>
    <body>
        <div class="container">

            <div class="content-large">My posts

                <ul id="postList">
                    {% for i in data|sort(attribute='id', reverse = True)%}
                        {% if i.id_persona == user.id %}
                            <div  id="post_{{i.id}}" class="post" >{{user.name}}: 
                                <div id="postContent_{{i.id}}" >
                                    {{i.comment}}
                                </div>
                                <div class="valoration">
                                    <button id="editbutton_{{i.id}}" type="submit" class="button" style="height: 30px; width: 150px" >Edit</button>
                                    <button id="deletebutton_{{i.id}}" type="submit" class="button" style="height: 30px; width: 150px" >Delete</button>
                                </div>
                                <script>
                                    var deletebutton = document.getElementById('deletebutton_{{i.id}}')
                                    deletebutton.onclick = function(){
                                        fetch('/post/delete', {
                                                method: "DELETE",
                                                body: JSON.stringify({
                                                    'post_id' : '{{i.id}}'
                                                }),
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                }
                                            }).then(function(response) {
                                                return response.json()
                                            }).then(function(jsonresponse){
                                                var id = "post_" + jsonresponse['id']
                                                document.getElementById(id).remove()
                                            })
                                    }
                                </script>
                                <script>
                                    var clickcounter = 0;
                                    var editbutton = document.getElementById('editbutton_{{i.id}}')
                                    editbutton.onclick = function(){
                                        if (clickcounter == 0) {
                                            clickcounter++;
                                            console.log('editbutton_{{i.id}}')
                                            var input = document.createElement("textarea");
                                            input.innerHTML = '{{i.comment}}'
                                            input.classList.add('EditTextarea')
                                            input.id = 'textarea_{{i.id}}'
                                            var postContent = document.createElement("postContent_{{i.id}}");
                                            var post = document.getElementById('post_{{i.id}}')
                                            post.removeChild(post.children[0])
                                            post.insertBefore(input, post.children[0])
                                            editbutton.value = "done"
                                        }
                                        else if (clickcounter == 1) {
                                            console.log(document.getElementById('textarea_{{i.id}}').value)
                                            fetch('/post/edit', {
                                                method: "POST",
                                                body: JSON.stringify({
                                                    'comment' : document.getElementById('textarea_{{i.id}}').value,
                                                    'post_id' : '{{i.id}}'
                                                }),
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                }
                                            }).then(function(response) {
                                                return response.json()
                                            }).then(function(jsonResponse){
                                                console.log(jsonResponse)
                                                if (jsonResponse['error'] === true) {
                                                    alert(jsonResponse['error_msg']);
                                                } else {
                                                    console.log(jsonResponse['comment'])
                                                    console.log(jsonResponse['id'])
                                                    location.reload()
                                                }
                                            })
                                        }
                                    }
                                </script>
                            </div>
                        {%endif%}
                    {% endfor %}
                </ul>

            </div>

        </div>

        
    </body>
</html>