<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DBP</title>
        <link rel="stylesheet"  href="./static/css/index.css"/>
    </head>
    <body>
        <div id="contenedor">
            <header><h1>Bienvenidos</h1></header>
            <nav><h2>Menu</h2></nav>
            <section id="contenido">
                <article><h2>Contenido</h2></article>
            </section>
            <aside class='box'>
                <h1>Login</h1>
                <input type="text" id="username" name="email"  placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
                <input type="button"  value="Login"/>
                <a href="../html/register.html">¿Aún no tienes una cuenta? Regístrate</a>
            </aside>
            <footer><h2>Pie de pagina</h2></footer>
        </div>
    </body>
</html>