<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>
            Inquilinos.com
        </title>
    </head>
    <body>
        <div class="container">
            <nav class="nav-main">
                <img src="../static/images/departamentos.png" alt="Logo inquilinos" class="nav-departamentos">
            </nav>
            <ul class="nav-menu">
                    <a href="signInButton">
                        <button class="grey" style="height: 30px; width: 150px">SIGN IN</button>
                    </a><br>

                    <a href="logInButton">
                        <button class="grey" style="height: 30px; width: 150px">LOG IN</button>
                    </a>
            </ul>
        </div>
    </body>
</html>