<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/stylelogin.css">
    <title>Login</title>
</head>
<body>
    <form id="loginForm" class="box" method="POST">
        <h1>Login</h1>
        <input type="text" id="email" name="email"  placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit"  value="Log In" /><br>
        <a onclick="window.location.href='/signInButton'">¿Aún no tienes una cuenta? Regístrate</a>
    </form> 
    <script>
        document.getElementById("loginForm").onsubmit = function(e){
            e.preventDefault();
             fetch('/logIn', {
                method: "POST",
                body: JSON.stringify({
                    'email' : document.getElementById("email").value,
                    'password' : document.getElementById("password").value
                }),
                 headers: {
                     'Content-Type': 'application/json'
                 }
             }).then(function(response){
                return response.json()
                //console.log("logeado con id: ", response['id']);
                window.location.href="/main";
             }).then(function(jsonResponse){
                 if (jsonResponse['error'] === true){
                     alert(jsonResponse['error_msg']);
                } else {
                    //console.log("Registrado con el id: ", jsonResponse["id"]);
                    sessionStorage.setItem("id",jsonResponse["id"]);
                    //console.log("Se guardó en sesion: ", sessionStorage.getItem("id"));
                    window.location.href="/main";
                }
             })
        }
    </script>
</body>
</html>