<!DOCTYPE html>
{% set found = false %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="shortcut icon" href="../static/images/favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
        <title>
            Main
        </title>    
    </head>
    <body>
        <button class="button-edit" onclick="window.location.href='/edit'">Edit</button>
        <div class="container">
            <div class="header">
                HOME
                <form id="search_district" method="POST">
                    <input type="text" id="search_district_input" name="search_district_input" placeholder="search district"/>
                    <input type="submit" id="searcher" value="Submit"/>
                </form>
            </div>
            <div class="content-small">
                Write Post <br>
                <form id="newPost">
                    <textarea class="PostTextArea" id="postComment" placeholder="What are you thinking?"></textarea>
                    
                        <select id="selectedApartment">
                            {% for i in apartments%}
                                {% if i.id_persona == user.id %}
                                    <option value="{{i.address}}">{{i.address}}</option> 
                                {%endif%}
                        {% endfor %}
                        </select>
                        <input type="submit" value="Create post"/>
                    
                </form>

                <script>
                    document.getElementById("newPost").onsubmit = function(e) {
                        e.preventDefault();
                        fetch('post/create', {
                            method: "POST",
                            body: JSON.stringify({
                                'comment' : document.getElementById("postComment").value,
                                'address': document.getElementById("selectedApartment").value
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(function(response) {
                            if (response.ok){
                                console.log("Todo Ok")
                            } else {
                                console.log("Todo no Ok")
                            }
                            return response.json()
                        }).then(function(jsonResponse){
                            console.log(jsonResponse)
                            if (jsonResponse['error'] === true) {
                                alert(jsonResponse['error_msg']);
                            } else {
                                const listItem = document.createElement("div")
                                listItem.className = "post"

                                newitem = jsonResponse['name'] + "("+ jsonResponse['district'] + ", " + jsonResponse['address'] + ")" +": "
                                const content = document.createElement("div")
                                content.className = 'comment'
                                
                                content.appendChild(document.createTextNode(jsonResponse['comment']))
                                
                                //const buttonDiv = document.createElement("div")

                                //const button = document.createElement('button')
                                //button.className = 'val'
                                //button.innerHTML = '0'
                                //buttonDiv.appendChild(button)

                                listItem.appendChild(document.createTextNode(newitem));
                                listItem.appendChild(content)
                                //listItem.appendChild(buttonDiv)
                                document.getElementById('postList').prepend(listItem)
                            }
                        })
                    }
                </script>
            </div>
            <div class="content-small-b"> 
                <div style="border: transparent;">
                    Add address
                </div>
                <div style="height: 60px; border: transparent;">

               
                <form action="crear-apartment" id='crear-apartment'>
                    
                        <input type="text" name='district' id='district' placeholder='Distrito'> 
                        <input type="text" name='address' id='address' placeholder='Direccion'>
                        <input type="submit" value="Create">
 
                </form>
                </div>
                <div style="padding: 0px; border: none; padding: 0px;">
                    <ul id="apartmentList" style="list-style-type: none; padding: 0px;" >
                        {% for i in apartments%}
                                {% if i.id_persona == user.id %}
                                    <li>
                                        {{i.district}},  {{i.address}}
                                        <button class="delete-button" data-id='{{i.id}}'>&Cross;</button>
                                    </li>
                                {%endif%}
                        {% endfor %}
                    </ul>
                </div>

                <script>
                    const deleteButtons = document.querySelectorAll('.delete-button')
                    for (let i = 0; i < deleteButtons.length; i++) {
                        const deleteButton = deleteButtons[i]
                        deleteButton.onclick = function(e) {
                            e.preventDefault()
                            fetch('/apartments/delete', {
                            method: "DELETE",
                            body: JSON.stringify({
                                'apartment_id' : e.target.dataset['id']
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                            }).then(function(response){
                                e.target.parentElement.remove()
                                location.reload()
                            })
                            
                        }
                    }
                  
                </script>

                <script>
                    document.getElementById('crear-apartment').onsubmit = function(e){
                        e.preventDefault();
                        fetch('/apartments/create',{
                            method: 'POST',
                            body: JSON.stringify({
                                'district': document.getElementById('district').value,
                                'address': document.getElementById('address').value
                            }),
                            headers:{
                                'Content-Type':'application/json'
                            }
                        }).then(function(response) {
                            return response.json()
                        }).then(function(jsonResponse){
                            if(jsonResponse['error'] === false){
                                const liItem = document.createElement("li")
                                const text = document.createTextNode(' ' + jsonResponse.district + ', ' + jsonResponse.address + ' ')
                                liItem.appendChild(text)

                                const deleteBtn = document.createElement('button')
                                deleteBtn.style.cssText = 'float: right'
                                deleteBtn.className = 'delete-button'
                                deleteBtn.innerHTML = '&cross;'
                                liItem.appendChild(deleteBtn)
                                document.getElementById('apartmentList').appendChild(liItem)
                                document.getElementById('district').value = ''
                                document.getElementById('address').value = ''
                                window.location.reload(true)
                            } else {
                                const message = jsonResponse['error_msg']
                                alert(message)
                            }
                            
                        });
                    }
                </script>
            </div>
            <div class="content-large">Content a
                <ul class="postList" id="postList">
                    {% for i in data|sort(attribute='id', reverse = True)%}
                        
                        {%for p in persons%}
                            
                                {% if i.id_persona == p.id %}
                                    <div class="post" >{{p.name}} ({{i.district}}, {{i.address}}):
                                        <div class="comment">
                                            {{i.comment}}
                                            
                                        </div>
                                        <div class="valoration">
                                            {% if user.id != p.id %}
                                            
                                            <button class="valorationButton"  data-id="{{i.id}}"
                                                {% for like in likes %}
                                                    {% if user.id == like.id_persona and i.id == like.id_post %}
                                                    style="background-color: #196b3b;"
                                                    {% set found = true %}
                                                    {%endif%}
                                                {% endfor %}  
                                            > Let's go!</button>
                                            {%endif%}
                                            <button class="val" data-id="{{i.id}}">{{i.valoracion}}</button>
                                            <button class="valorationButton" style="margin-left: 15px; background-color:#1DA1F2; border-color: #1DA1F2" data-sharer="twitter" data-title="{{p.name}}: {{i.comment}} - {{i.address}}" data-hashtags="DBP20" data-url="http://partyon.com">Share on Twitter</button>
                                            <button class="valorationButton" style="margin-left: 15px; background-color:#595959; border-color: #595959" data-sharer="email" data-title="{{p.name}}: {{i.comment}} - {{i.address}}" data-url="http://partyon.com" data-subject="Party on notification" data-to="some@email.com">Share via Email</button>
                                            <button class="valorationButton" style="margin-left: 15px; background-color:#4DC247; border-color: #4DC247" data-sharer="whatsapp" data-title="{{p.name}}: {{i.comment}} - {{i.address}}!" data-url="http://partyon.com">Share on Whatsapp</button>
                                        </div>

                                        

                                          
                                        <form class='make_comment'>
                
                                            <input type="text" data-id='{{user.id}}/{{i.id}}' placeholder='Comenta...'>
                                            <input type="submit" value="Create">
                 
                                        </form>
                                        <ul class="comments">
                                        {%for c in comments%}
                                            {% if c.id_post == i.id %}
                                            
                                                <li>
                                                <p>{{c.author_name}}</p>
                                                <div class="comments_content">
                                                    {{c.comment}}
                                                </div>
                                                </li>
                                            
                                            {%endif%}
                                        {% endfor %}
                                        </ul>




                                    </div>
                                {%endif%}
                            
                        {% endfor %}
                    {% endfor %}
                </ul>

                <script>
                    const valorationButtons = document.querySelectorAll('.valorationButton')
                    const vals = document.querySelectorAll('.val')
                    for (let i = 0; i < valorationButtons.length; i++) {
                        const valoration = valorationButtons[i]
                        valoration.onclick = function(e) {
                            e.preventDefault()
                            fetch('/post/upvote', {
                            method: "POST",
                            body: JSON.stringify({
                                'post_id' : e.target.dataset['id']
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                            }).then(function(response){
                                location.reload()
                            })
                            
                        }
                    }


                    const createdcomments = document.querySelectorAll('.make_comment')
                    for (let i = 0; i < createdcomments.length; i++) {
                        const new_comment = createdcomments[i]
                        new_comment.onsubmit = function(e) {
                            e.preventDefault()
                            if (e.target.firstElementChild.value == ""){
                                alert("El comentario esta vacío");
                                return false;
                            }
                            console.log(e)
                            fetch('/post/make_comment', {
                            method: "POST",
                            body: JSON.stringify({
                                'persona_post_id' : e.target[0].dataset['id'],
                                'comment' : e.target.firstElementChild.value
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                            }).then(function(response){
                                console.log('respuesta: ', response)
                                return response.json()
                            }).then(function(jsonResponse) {
                                console.log("jsonResponse: ", jsonResponse)
                                if (jsonResponse['error'] === false) {
                                    e.target.firstElementChild.value = ""
                                    const liItem = document.createElement('li')
                                    const divItem = document.createElement('div')
                                    const pItem = document.createElement('p')
                                    divItem.className = "comments_content"
                                    pItem.innerHTML = jsonResponse['author_name']
                                    divItem.innerHTML = jsonResponse['comment']

                                    liItem.appendChild(pItem)
                                    liItem.appendChild(divItem)

                                    e.target.nextElementSibling.appendChild(liItem)
                                } else {
                                    alert("Algo salio mal¡ [BE]");
                                }
                            }).catch(function(error) {
                                alert("Algo salio mal¡ [FE]");
                            });
                            
                        }
                    }
                  


                </script>

            </div>
            <div class="footer">Footer:<br>
                    Party On<br>
                    Perú
            </div>

        </div>

        
    </body>
</html>