<!DOCTYPE html>
{% set found = false %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/main.css">
        <title>
            Main
        </title>
    </head>
    <body>
        <button class="button-edit" onclick="window.location.href='/edit'">Edit</button>
        <div class="container">
            <div class="header">
                Muro
                <form id="search_district" method="POST">
                    <input type="text" id="search_district_input" name="search_district_input" placeholder="search district"/>
                    <input type="submit" id="searcher" value="Submit"/>
                </form>
            </div>
            <div class="content-small">
                Write Post <br>
                <form id="newPost">
                    <textarea class="PostTextArea" id="postComment" placeholder="What are you thinking?"></textarea>
                    
                        <select id="selectedApartment">
                            {% for i in apartments%}
                                {% if i.id_persona == user.id %}
                                    <option value="{{i.address}}">{{i.address}}</option> 
                                {%endif%}
                        {% endfor %}
                        </select>
                        <input type="submit" value="Create post"/>
                    
                </form>

                <script>
                    document.getElementById("newPost").onsubmit = function(e) {
                        e.preventDefault();
                        fetch('post/create', {
                            method: "POST",
                            body: JSON.stringify({
                                'comment' : document.getElementById("postComment").value,
                                'address': document.getElementById("selectedApartment").value
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(function(response) {
                            return response.json()
                        }).then(function(jsonResponse){
                            console.log(jsonResponse)
                            if (jsonResponse['error'] === true) {
                                alert(jsonResponse['error_msg']);
                            } else {
                                const listItem = document.createElement("div")
                                listItem.className = "post"

                                newitem = jsonResponse['name'] + "("+ jsonResponse['district'] + ", " + jsonResponse['address'] + ")" +": "
                                const content = document.createElement("div")
                                content.className = 'comment'
                                
                                content.appendChild(document.createTextNode(jsonResponse['comment']))
                                
                                //const buttonDiv = document.createElement("div")

                                //const button = document.createElement('button')
                                //button.className = 'val'
                                //button.innerHTML = '0'
                                //buttonDiv.appendChild(button)

                                listItem.appendChild(document.createTextNode(newitem));
                                listItem.appendChild(content)
                                //listItem.appendChild(buttonDiv)
                                document.getElementById('postList').prepend(listItem)
                            }
                        })
                    }
                </script>
            </div>
            <div class="content-small">
                <form action="crear-apartment" id='crear-apartament'>
                    <div>
                        <input type="text" name='district' id='district' placeholder='Distrito'> 
                        <input type="text" name='address' id='address' placeholder='Direccion'>
                        <input type="submit" value="Crear">
                    </div>
                </form>
                <ul id="apartmentList" >
                    {% for i in apartments%}
                            {% if i.id_persona == user.id %}
                                <li>
                                    {{i.district}},  {{i.address}}
                                    <button class="delete-button" data-id='{{i.id}}'>&Cross;</button>
                                </li>
                            {%endif%}
                    {% endfor %}
                </ul>
                <script>
                    document.getElementById('crear-apartment').onsubmit = function(e){
                        e.preventDefault();
                        fetch('/apartments/create',{
                            method: 'POST',
                            body: JSON.stringify({
                                'district': document.getElementById('district').value,
                                'address': document.getElementById('address').value
                            }),
                            headers:{
                                'Content-Type':'application/json'
                            }
                        }).then(function(response) {
                            return response.json()
                        }).then(function(jsonResponse){
                            if(jsonResponse['error']===false){
                                const liItem = document.createElement("li")
                                const text = document.createTextNode(' ' + jsonResponse.district + ', ' + jsonResponse.address + ' ')
                                liItem.appendChild(text)

                                const deleteBtn = document.createElement('button')
                                deleteBtn.style.cssText = 'float: right'
                                deleteBtn.className = 'delete-button'
                                deleteBtn.innerHTML = '&cross;'
                                liItem.appendChild(deleteBtn)
                                document.getElementById('apartmentList').appendChild(liItem)
                                document.getElementById('district').value = ''
                                document.getElementById('address').value = ''
                                window.location.reload(true)
                            }else{
                                const message = jsonResponse['error_message']
                                document.getElementById('error').className = ''
                                document.getElementById('error').innerHTML = message
                            }
                            
                        });
                    }
                </script>
            </div>
            <div class="content-large">Content a
                <ul class="postList" id="postList">
                    {% for i in data|sort(attribute='id', reverse = True)%}
                        
                        {%for p in persons%}
                            
                                {% if i.id_persona == p.id %}
                                    <div class="post" >{{p.name}} ({{i.district}}, {{i.address}}):
                                        <div class="comment">
                                            {{i.comment}}
                                            
                                        </div>
                                        <div class="valoration">
                                            {% if user.id != p.id %}
                                            
                                            <button class="valorationButton"  data-id="{{i.id}}"
                                                {% for like in likes %}
                                                    {% if user.id == like.id_persona and i.id == like.id_post %}
                                                    style="background-color: #196b3b;"
                                                    {% set found = true %}
                                                    {%endif%}
                                                {% endfor %}  
                                            > Let's go!</button>
                                            {%endif%}
                                            <button class="val" data-id="{{i.id}}">{{i.valoracion}}</button>
                                        </div>
                                    </div>
                                {%endif%}
                            
                        {% endfor %}
                    {% endfor %}
                </ul>

                <script>
                    const valorationButtons = document.querySelectorAll('.valorationButton')
                    const vals = document.querySelectorAll('.val')
                    for (let i = 0; i < valorationButtons.length; i++) {
                        const valoration = valorationButtons[i]
                        const val = vals[i]
                        valoration.onclick = function(e) {
                            e.preventDefault()
                            fetch('/post/upvote', {
                            method: "POST",
                            body: JSON.stringify({
                                'post_id' : e.target.dataset['id']
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                            }).then(function(response){
                                return response.json()
                            }).then(function(jsonResponse) {
                                /*if (jsonResponse['action'] == 'up') {
                                    valoration.style.cssText = "background-color: #196b3b;"
                                    val.innerHTML = 10
                                }
                                    
                                else if (jsonResponse['action'] == 'down') {
                                    valoration.style.cssText = "background-color: transparent;"
                                    val.innerHTML = 15
                                }*/
                                location.reload()
                            })
                            
                        }
                    }
                  
                </script>

            </div>
            <div class="footer">Footer</div>

        </div>

        
    </body>
</html>