<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Inserte nombre aqui
        </title>
    </head>

    <body>
        <form action="\registration" method="POST">
            <input type="text" name="name" placeholder="Enter full name"/><br>
            <input type="text" name="email" placeholder="Enter email"/><br>
            <input type="password" name="password" placeholder="Enter password"/><br>
            <input type="password" name="checkPassword" placeholder="Re enter password"/><br>
            <input type="radio" id="landlord" name="type" value="landlord"/>
            <label for="landlord">landlord</label><br>
            <input type="radio" id="Landlord" name="type" value="tenant"/>
            <label for="tenant">tenant</label><br>
            <input type="submit" value="Create account"/>
        </form>
    </body>
</html>