<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/main.css">
        <title>
            Search
        </title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                Muro
                <form id="search_district" method="POST">
                    <input type="text" id="search_district_input" name="search_district_input" placeholder="search district"/>
                    <input type="submit" id="searcher" value="Submit"/>
                </form>
            </div>
            {% if empty %}
            <div id="empty">
                No se encontró ninguna fiesta en este distrito :c
            </div>
            {% endif %}
            {% if not_search %}
            <div id="not_search">
                Aqui podrá buscar fiestas según el distrito que más prefiera c:
            </div>
            {% endif %}
            <ul id="districts" style="grid-column-end: 4; grid-column-start: 1;">
                {% for i in data|sort(attribute='id', reverse = True)%}
                    <div class="post" >{{modelo.query.get(i.id_persona).name}} ({{i.district}}, {{i.address}}):
                        <div class="comment">
                            {{i.comment}}
                        </div>
                        <div class="valoration">
                            {% if user.id != i.id_persona %}
                            
                            <button class="valorationButton"  data-id="{{i.id}}"
                                {% for like in likes %}
                                    {% if user.id == like.id_persona and i.id == like.id_post %}
                                    style="background-color: #196b3b;"
                                    {% set found = true %}
                                    {%endif%}
                                {% endfor %}  
                            > Let's go!</button>
                            {%endif%}
                            <button class="val">{{i.valoracion}}</button>
                        </div>
                    </div>
                {% endfor %}
            </ul>
            <script>
                const valorationButtons = document.querySelectorAll('.valorationButton')
                for (let i = 0; i < valorationButtons.length; i++) {
                    const valoration = valorationButtons[i]
                    valoration.onclick = function(e) {
                        fetch('/post/upvote', {
                        method: "POST",
                        body: JSON.stringify({
                            'post_id' : e.target.dataset['id']
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                        }).then(function(response){
                        //valoration.disable = true
                            location.reload()
                        })
                        
                    }
                }
              
            </script>
        </div>
    </body>
</html>