
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #272727;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 1fr 50px;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
    
}

.container div {
    padding: 10px;
    border: 1px solid #2ecc71;
    background-color: #272727;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;
    font-size: 25px;
    
}

.content-large {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 1;
    overflow-y: scroll;
}

.content-small{

    display: grid;

    grid-template-rows: 30px 1fr 30px;

    grid-column-start: 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    
}

.footer{
    grid-column: 1 / span 3;
}

.EditTextarea{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 20px;

    resize: none;

    width: 100%;
    height: auto;
    padding: 1%;
    box-sizing: border-box;
}

div .post{
    margin-top: 20px;
    width: 95%;
    height: auto;
    border-radius: 10px;
    padding-top: 5px;
}

ul .postList{
    width: auto;
    margin: 70%;
}

div{
    color: white;
}

.post div{
    background-color: #2ecc71;
}

div .valoration {
    width: fit-content;
    background-color: transparent;
    height: 25px;
    border: none;
}

.button{
    border:0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    float: right;
}

ul div .grey{
     height: 30px;
     width: 150px;
     border:0;
     background: none;
     margin: 10px auto;
     text-align: center;
     border: 1px solid #2ecc71;
     padding: 14px 20px;
     outline: none;
     color: white;
     border-radius: 20px;
     transition: 0.25s;
     cursor: pointer;
}


ul div .grey:hover{
    background: #2ecc71;
}

.button-home{
    border:0;
    background: none;
    margin: 2px auto;
    display: block;
    border: 1px solid #2ecc71;
    padding: 5px 30px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    float: left;
}

.button-home:hover{
    background: #2ecc71;
}