
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #272727;
    background-image: url("/static/images/fondo2.png");
  }

a{
  color: white;
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-departamentos{
  width: 80px;
}

.grey{
  flex: 1;
  margin-left: 10px;
  padding: 5px; 
  border:0;
  background: none;
  text-align: center;
  display: block;
  margin: auto;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.grey:hover{
  background: #2ecc71;
}